<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Imm2Virtual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="AIMPath"   value="C:\Users\Francesco Chiffi\Downloads\popio\Arsenal-Image-Mounter-v3.11.293\Arsenal-Image-Mounter-v3.11.293\aim_cli.exe"  />
		<add key="VBOXPath"   value="\Oracle\VirtualBox\VBoxManage.exe"  />
	</appSettings>

 <userSettings>
  <Imm2Virtual.Properties.Settings>
   <setting name="AIMPath" serializeAs="String">
    <value>C:\Program Files\Arsenal-Image-Mounter-v3.11.293\Arsenal-Image-Mounter-v3.11.293\aim_cli.exe</value>
   </setting>
   <setting name="VBOXPath" serializeAs="String">
    <value>C:\Program Files\Oracle\VirtualBox\VBoxManage.exe</value>
   </setting>
  </Imm2Virtual.Properties.Settings>
 </userSettings>
</configuration>